.description {
  margin-top: 20px;
  border: solid 1px #bbb;
  border-radius: 3px;
  padding: 5px 15px;

  h3 {
    font-size: 1rem;
    color: #aaa;
    margin: 0px 0px 0px 0px !important;
  }
}
